VITE_ANSWER_EVALUATION_API=https://questionevaluation.api/evaluate
VITE_QUESTION_SUBMIT_API=https://questionsbumit.api/question
VITE_ANALYTICS_WRITE_KEY=RUDDER_WRITE_KEY
VITE_ANALYTICS_DATA_PLANE_URL=RUDDER_DATA_PLANE_URL
VITE_SITE_URL=https://yourwebsite.com